# Environments
venv
.venv
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.sqlite3

# Logs & Media
*.log
logs/
/media/
/uploads/
data/

# Testing
.pytest_cache/
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp

# Sensitive/Secrets
secrets.json
*.key
*.pem
*.cert
credentials.json
client_secret.json
config.local.py
scripts/*.py
scripts/*.pyteleexam_ai_logo.png
teleexam_ai_logo.png
